.Home {
  // margin-top: 50px;
  display: grid;
  grid-template-columns: 500px auto;
  padding-top: calc(1rem + 60px);
  min-height: 100vh;
  background-color: #1f242d;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 1.6rem;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      height: 320px;
      @media screen and (max-width: 400px) {
        height: 290px;
      }
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;

    span {
      color: #0ef;
    }

    // &:nth-of-type(2) {
    //   margin-bottom: 1.7rem;
    // }
  }
  h1 {
    font-size: 3.3rem;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 500px;
  }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 0.8rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
  .Social_Medias a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ef;
    width: 2.6rem;
    height: 2.6rem;
    background: transparent;
    color: #0ef;
    border-radius: 50px;
    font-size: 1.3rem;
    margin: 15px 8px;
    transition: 0.5s ease;
    &:hover {
      background: #0ef;
      color: #323946;
      box-shadow: 0 0 0.6rem #0ef;
    }
  }

  .CV_Button {
    display: flex;
    gap: 10px;
    // padding: 20px 0px;
    button {
      display: inline-flex;
      margin: 5px;
      padding: 10px 15px;
      background: #0ef;
      border-radius: 25px;
      box-shadow: 0 0 6px #0ef;
      border: none;
      font-weight: 600;
      color: #323946;
      letter-spacing: 1px;
      font-size: 1.1rem;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        box-shadow: none;
      }
    }
    @media screen and (max-width: 800px) {
      button {
        padding: 7px 12px;
      }
    }
  }
}
