// .contact {
//   padding-top: calc(1rem + 60px);
//   min-height: 100vh;
//   background: #1f242d;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: #fff;
//   //   gap: 1.6rem;

//   h2 {
//     font-size: 3.2rem;
//     font-weight: 700;

//     span {
//       color: #0ef;
//     }
//   }
//   form {
//     max-width: 60rem;
//     margin: 1rem auto;
//     text-align: center;
//     margin-bottom: 3rem;

//     input,
//     textarea {
//       width: 100%;
//       background: #323946;
//       padding: 8px;
//       font-size: 1.3rem;
//       color: #fff;
//       outline: none;
//       border: none;
//       margin: 10px;
//       border-radius: 0.6rem;
//     }
//     .input_box {
//       display: grid;
//       grid-template-columns: auto auto;
//     }
//     .input_box input {
//       width: 100%;
//     }
//     textarea {
//       resize: none;
//     }

//     .send_message {
//       padding: 10px;

//       button {
//         display: inline-flex;
//         padding: 10px 15px;
//         background: #0ef;
//         border-radius: 25px;
//         box-shadow: 0 0 6px #0ef;
//         border: none;
//         font-weight: 600;
//         color: #323946;
//         letter-spacing: 1px;
//         font-size: 1.1rem;
//         cursor: pointer;
//         transition: 0.5s ease;
//         &:hover {
//           box-shadow: none;
//         }
//       }
//     }
//   }
// }

.hidden {
  display: none;
}

.AlertMsg {
  position: fixed;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  // text-align: center;
  background: rgb(186, 253, 232, 0.9);
  border-radius: 12px;
  padding: 5px 8px;
  color: rgb(0, 165, 113);
  width: 250px;
  border: 2px solid rgb(1, 189, 130);

  h3 {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  span {
    font-weight: 600;
    // font-size: 1.1rem;
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 15px;
    color: rgb(0, 165, 113);
    font-weight: bold;
    float: right;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -15px;
    &:hover {
      color: rgb(1, 72, 50);
    }
  }
}

@media (max-width: 450px) {
  .AlertMsg {
    position: fixed;
    top: 90%;
    left: 50%;
    width: 250px;
    h3 {
      font-weight: 800;
      font-size: 1rem;
    }
    span {
      font-weight: lighter;
    }
  }
}
